DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=databasename
DB_PORT=5432
SECRET_KEY=hzGxF36atO8HhLCSSSnjeSC5trGBkUSeCv5mt4ElrMC
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here