DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=databasename
DB_PORT=5433
SECRET_KEY=your-secret-key-here
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
TEST_DATABASE_URL=postgresql://postgres:yourpassword@localhost:5434/bughunt_test